# Binaries for programs and executables
/hello

# Build directories and files
/build/
/dist/

# Dependency directories
/vendor/

# Go module cache (if using local caching)
*.modcache

# Test binary
*.test

# Output of coverage tools
*.out

# Logs and temporary files
*.log
*.tmp

# IDE-specific files
.vscode/
.idea/
*.iml

# OS-specific files
.DS_Store     # macOS
Thumbs.db     # Windows
